.cover__background {
    max-width: 1184px;
    min-height: 740px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/image/cover-trains.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    color: #fff;
    text-decoration: none;
  }
  
  .cover__background:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #2a2c2f;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .3;
    transition: opacity .2s linear;
  }
  
  .cover__background:hover:after {
    opacity: .8;
  }

@media screen and (max-width: 1279px) {
    .cover__link {
        max-width: 1024px;
        min-height: 645px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__link {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__link {
        min-height: 200px;
    }
}